<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="chat-history">
    </div>
    <div id="chat-box">
    	<input type="text" placeholder="Chat Input" name="chat-input" id="chat-input">
    	<button id="submit-global">Submit Global Message</button>
    </div>
    <div id="users">
    	
    </div>

    <div id="console-log">
    </div>
    <script type="text/javascript" src="javascripts/chat.pack.js"></script>
  </body>
</html>
